<html>

	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		 crossorigin="anonymous"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		 crossorigin="anonymous">
		<script src="scripts/script.js"></script>
	</head>

	<body ng-app="myApp" class="container">
		{{myWelcome}}
		<div ng-controller="testController" data-ng-init="init()" class="container">
			{{home}}
			{{home1}}
			
			<button ng-click="getRequest()"   class="btn btn-info btn-lg">Total Categories</button>
			<div ng-repeat="(key,value) in records">
				<td>{{key+ ":"}}</td>
				<td>{{value}}</td>
			</div>
			<div class="form-group">
			<input type="text" ng-model="addcategory" class="form-control">
			<button ng-click="AddCategory()" class="btn btn-success">Add Category</button>
			<input type="text" ng-model="deletecategory" class="form-control">
			<button ng-click="removeCategory()" class="btn btn-danger">Remove Category</button>
				</div>


			<h1>{{heading_categories}}</h1>
			<div ng-repeat="(key,value) in categories">
				<button type="button"  ng-click="listacts()" ng-model="listact"  class="btn btn-info btn-lg" >{{key}}</button>
				<br></br>
			</div>


			<h2>{{acts_in_category}}</h2>
			<div class="table-responsive">
			<table class="table table-bordered table-hover" >
					<tr>
							<th>Act Id</th>
							<th>USerName</th>
							<th>timestamp</th>
							<th>caption</th>
							<th>upvotes</th>
							<th>Image</th>
						</tr>
				<tbody ng-repeat="x in items">
					<tr>
						<td>{{x.actId+ ":"}}</td>
						<td>{{x.username}}</td>
						<td>{{x.timestamp}}</td>
						<td>{{x.caption}}</td>
						<td>{{x.upvotes}}</td>
						<!-- <td>{{x.imgb64}}</td> -->
						<td>
						<img ng-src="{{x.imgb64}}" width="50" height="50"></img>
						</td>

					</tr>
				</tbody>
			</table>
			</div>

		
	</body>

</html>