<html>

	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		 crossorigin="anonymous"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		 crossorigin="anonymous">
		<script src="scripts/script.js"></script>
	</head>

	<body ng-app="myApp" >
		{{myWelcome}}
		<div ng-controller="testController" data-ng-init="init()">
			{{home}}
			{{home1}}
			
			<button ng-click="getRequest()">Total Categories</button>
			<div ng-repeat="x in records">
				<td>{{x.category+ ":"}}</td>
				<td>{{x.total}}</td>
			</div>
			<input type="text" ng-model="category">
			<button ng-click="AddCategory()">Add Category</button>

			<h1>{{heading_categories}}</h1>
			<div ng-repeat="x in categories">
				<button ng-click="listacts()" ng-model="listact">{{x.category}}</button>
			</div>

			<h2>{{acts_in_category}}</h2>
			<div ng-repeat="i in items" ng-model="total_acts">
					<td>{{i.actId+ ":"}}</td>
					<td>{{i.username}}</td>
				<!-- <table>
					<tr>
						<td>{{i.actId}}</td>
					</tr>
				</table> -->
			</div> 

		</div>
	</body>

</html>